body {
  background-color: #fff;
}

/* Begin Header & Title Styles */
.title-bkgd {
  background-color: #800000;
  width: 100%;
  padding-bottom: 10px;
}

.app-title {
  color: #fff;
  text-align: center;
}
/* End Header & Title Styles */

/* Begin Form Styles */
.todoForm {
  text-align: center;
  margin-top: 25px;
}
.todo-input {
  text-align: center;
}
.submit {
  margin-top: 10px;
}

/* End Form Styles */

/* Begin List Styles */
.todo-header {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.todo-list {
  border: 1px solid #800000;
  height: 1%;
  overflow: hidden;
  list-style: none;
  margin-top: 10px;
  padding: 5px;
}
/* End List Styles */
