body {
  background-color: #fff;
}

/* Begin Header & Title Styles */
.title-bkgd {
  background-color: #800000;
  width: 100%;
  padding-bottom: 10px;
}

.app-title {
  color: #fff;
  text-align: center;
}
/* End Header & Title Styles */

/* Begin Add Form Styles */
.todoForm {
  text-align: center;
  margin-top: 25px;
}
.todo-input {
  text-align: center;
  border: 1px solid #800000;
}
.submit {
  margin-top: 10px;
}

/* End Add Form Styles */

/* Begin List Styles */
.todo-header {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.still-todo-list {
  border: 1px solid #800000;
  height: 1%;
  overflow: hidden;
  list-style: none;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.done-todo-list {
  border: 1px solid #800000;
  height: 1%;
  overflow: hidden;
  list-style: none;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}


li span #spanStill {
  margin: 0px 10px 0px 50px;
}

li span #newSpan {
  margin: 0px 10px 0px 50px;
}

#edit-btn {
  margin: 0px 0px 0px 0px;
  float: right;
  font-size: 10px;
  background-color: green;
  color: #fff;
}

#newEdit {
  margin: 0px 0px 0px 0px;
  float: right;
  font-size: 10px;
  background-color: green;
  color: #fff;
}

#delete-btn {
  margin: 0px 0px 0px 0px;
  float: right;
  font-size: 10px;
  background-color: #800000;
  color: #fff;
}


/* End List Styles */

/* Begin Add Form Styles */
.editForm {
  text-align: center;
  margin-top: 25px;
}
.edit-input {
  text-align: center;
  border: none;
}
.edit {
  display: none;
}

/* End Add Form Styles */
