body {
  background-color: #fff;
}

/* Begin Header & Title Styles */
.title-bkgd {
  background-color: #800000;
  width: 100%;
  padding-bottom: 10px;
}

.app-title {
  color: #fff;
  text-align: center;
}
/* End Header & Title Styles */

/* Begin Form Styles */
.todoForm {
  text-align: center;
  margin-top: 25px;
}
.todo-input {
  text-align: center;
  border: 1px solid #800000;
}
.submit {
  margin-top: 10px;
}

/* End Form Styles */

/* Begin List Styles */
.todo-header {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.todo-list {
  border: 1px solid #800000;
  height: 1%;
  overflow: hidden;
  list-style: none;
  margin-top: 10px;
  padding: 10px 50px 15px 150px;
  text-align: left;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

#delete-btn {
  font-size: 10px;
  margin-left: 10px;
  background-color: #800000;
  color: #fff;
}
/* End List Styles */
